body {
  background-color: #97e5ef;
}
hr{
  border-style: none;
  border-top: dotted;
  border-color: black;
  border-width: 5px;
  height: 0;
}
.aqib{
  height: 200px;

}
.name{
  color: red;
}
h3{
  color: blue;
}
